*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to bottom, rgba(28, 36, 61, 0.8),rgba(28, 36, 61, 0.8)), url(./assets/pexels-maxyne-barcel-10402282\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    overflow: hidden;
    background-attachment: fixed;
}
section .navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
}
nav img{
    width: 150px;
}
.list{
    display: flex;
    list-style-type: none;
    color: gold;
}
.list .list-item{
    font-size: 24px;
    margin-left: 30px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.list .list-item:not(:last-child){
    margin-right: 60px;
}
.order{
  background-color: #ff505f;
  border: none;
  color: #FFFFFF;
  padding: 9px 30px;
  font-size: 19px;
  border-radius: 5px;
  cursor: pointer;
}
.hero{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 80vh;
}
.hero .hero-heading{
    font-size: 3.5rem;
    color: gold;
    max-width: 850px;
    line-height: 4.5rem;
    font-family: Dela Gothic One;
}
.button-large{
    padding: 15px 25px;
    font-size: 20px;
    margin-top: 20px;
    background-color: #ff505f;
    color: #FFFFFF;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
div .bottom{
    align-self: flex-end;
    padding-top: 80px;
}
div .bottom img{
    width: 150px;
    margin-right: 30px;
}


/*******Media Queries**********/
@media screen and (orientation: landscape){
    nav{
        margin-top: 30px;
        max-width: 1020px;
        padding-bottom: 60px;
        overflow-x: scroll !important;
    }
    section .navbar .list{
        max-width: 1020px;
    }
    section .navbar .list .list-item{
        font-size: 14px;
        margin-left: 0px;
    }
    nav div img{
        width: 70px;
        margin-top: 10px;
        margin-right: 15px;
    }
    .order{
        padding: 6px 15px;
        font-size: 10px;
    }
    .hero .hero-heading{
        margin-top: 260px;
        max-width: 300px;
        flex-wrap: wrap;
        height: 100vh;
        font-size: 1.6rem;
        line-height: 25px;
    }
    .button-large{
       margin-top: 40px;
       padding: 10px 15px;
       font-size: 12px;
    }
    div .bottom img{
        padding-bottom: 100px;
        margin: 0px 30px 200px 0px;
        width: 50px;
    }
}
@media screen and (max-width:720px){
    nav{
        max-width: 720px;
        padding-bottom: 60px;
        overflow-x: scroll !important;
    }
    section .navbar .list{
        max-width: 190px;
    }
    section .navbar .list .list-item{
        font-size: 10px;
        margin-left: -40px;
    }
    nav div img{
        width: 70px;
        margin-right: 15px;
    }
    .order{
        padding: 2px 8px;
        font-size: 10px;
    }
    .hero .hero-heading{
        margin-top: 100px;
        max-width: 300px;
        flex-wrap: wrap;
        height: 100vh;
        font-size: 1.6rem;
        line-height: 25px;
    }
    .button-large{
       margin-top: 40px;
       padding: 10px 15px;
       font-size: 12px;
    }
    div .bottom img{
        margin: 0px 30px 200px 0px;
        width: 50px;
    }
}

